@import "base";


.marteau {
	width: 100px;
	height: 20px;
	@include border-radius(10px);
	border: $linebold solid $color;

	&::before {
		content: '';
		width: 10px;
		height: 10px;
	}

	&::after {
		content: '';
		width: 20px;
		height: 20px;
	}
}

