@import "base";


.voilier {
	// En attendant la rotation continu de .story
	//@include rotate(-200deg);
	@include animation( tangue 1.5s infinite linear );
	@include transform-origin(top, center);


	// Mât
	left: 10px;
	top: 12px;
	width: 0px;
	height: 0px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 60px solid $color;
	border-bottom: 0px solid transparent;
	@include border-radius(10px);

	
	// Voile
	&::before {
		top: -80px;
		left: -2px;
		width: 5px;
		height: 30px;
		background: $color;
		border: none;
		z-index: 0;
	}
	
	// Coque
	&::after {
		left: -47px;
		top: -87px;
		width: 91px;
		height: 10px;
		@include border-radius(50px 50px 0 0);
		border: $linebold solid $color;
		background: white;
	}
}

@include keyframes( tangue ) {
	0%		{ @include rotate(-180deg); }
	25%		{ @include rotate(-185deg); }
	50%		{ @include rotate(-180deg); }
	75%		{ @include rotate(-175deg); }
	100%	{ @include rotate(-180deg); }
}
